.bike-more-detail-section{
  padding-right:12%;
  padding-left:6%;
}
.bike-image-and-detail-container{
  display: flex;
  gap:2.2%;
  height:clamp(7rem, 26vw, 500px);
  
}
.bike-image-and-detail-container .bike-image{
  flex:1.1;
  min-width:7rem;
  border:1px solid rgba(0, 0, 0, 0.211);
  border-radius:2px;
}
.bike-image-and-detail-container .bike-detail{
  flex:1;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.bike-detail .bike-name{
  font-size:clamp(0.590rem, 2vw, 1.250rem);
  margin-bottom:1%;
}
.bike-detail .bike-price{
  font-size:clamp(0.550rem, 1.9vw, 1.2rem) ;
  color:var(--main-color)
}

.bike-size-and-available-container{
  display: flex;
  flex-direction: column;
  row-gap:1rem;
  font-size: clamp(0.5rem, 1.7vw, 1rem);
  background-color: rgba(128, 128, 128, 0.318);
  border-radius:4px;
  padding:2% 3%;
  margin-top:15%;
  margin-bottom:2%;
}
.bike-size-and-available-container .size, .available-bike{
  font-size: clamp(0.440rem, 1.6vw, 0.9rem);
  border:1px solid rgba(0, 0, 0, 0.316);
  border-radius: 3px;
  padding:0.3em 0.6em;
  margin-top:0.5%;
  width:fit-content;
}
@media (max-width:65em) {
  .bike-more-detail-section{
    padding-right:7%;
    padding-left:5%;
  }
  .bike-size-and-available-container{
    flex-direction: row;
    gap:7%;
  }
}
.order-and-cart-button-container{ 
  display:flex;
  gap:1%;
}
@media (max-width:55em){
  .order-and-cart-button-container{
    max-height:2.3rem;
  }
}
.order-and-cart-button-container input,
.order-button,
.cart-button{
  width:100%;
  height:100%
}
.quantity-container{
  font-size:clamp(0.590rem, 2vw, 1.250rem);
  position: relative;
  flex:0.5;
  min-width:2.5rem;
  max-width:7rem;
  align-content: center;
}
.quantity-container img{
  position:absolute;
  width:13%;
}.quantity-container .minus-button{
  left:7%;
  top:33%;
}.quantity-container .plus-button{
  right:7%;
  top:33%;
}

.order-and-cart-button-container .order-button-container{
  flex:1; 
  border: 1px solid rgba(0, 0, 0, 0.36);
  align-content: center;
  border-radius:5px;
}
.order-button-container .order-button{
  font-size:clamp(0.590rem, 2vw, 1.250rem);
  background-color: var(--main-color);
  border: none;
  border-radius:3px;
}
.order-and-cart-button-container .cart-button-container{
  flex:0.3;
  max-width:2.5rem;
  min-width:1.3rem;
  align-content: center;
}
/* .quantity-container{
  position: relative;
}
.btn-minus,
.btn-plus {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  border:none;
  background: transparent;
  opacity:0.9;
  width:11%;
}.btn-minus {
  left:7%;
}.btn-plus {
  right:7%;
} */

/* components */
.bike-components-container{
  font-weight: bold;
  font-size:clamp(0.7rem, 2.5vw, 1.5rem);
  margin-top:2%;
}
.bike-components-container .components-list{
  padding-left:2.6%;
}
ul{
  padding-top:0.8%;
  font-weight: normal;
  font-size:clamp(0.5rem, 1.8vw, 0.9rem);
}
li{
  padding-top:0.8%;
  font-weight: normal;
  font-size:clamp(0.5rem, 1.8vw, 0.9rem);
}