footer{
  display:grid;
  margin-top:4%;
  padding-top:1.8%;
  padding-bottom:0.5% ;
  padding-left:18%;
  padding-right:17% ;
  font-weight:300;
  font-size:clamp(0.3rem, 1.2vw, 0.7rem);
  background-color: var(--secondary-color);
  color:rgba(255, 255, 255, 0.73);
}
.important-details{
  display: flex;
  justify-content:space-between;
  gap:4%;
}
.opening-hours-text,
.location-text,
.contact-text{
  font-weight:800;
  font-size:clamp(0.350rem, 1.3vw, 0.8rem);
  color:var(--main-color);
}

.details{
  display: flex;
  flex-direction: column;
  margin-top:7%;
  gap:0.3em;
}

.other-social-media{
  margin-top:6%;
  display:grid;
  justify-content: center;
  width: 100%;
}
.visit-us-text{
  color: var(--main-color);
  font-weight:700;
  font-size:clamp(0.350rem, 1.3vw, 0.8rem);
}
.icons-main-container{
  margin-top:10%;
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.icon-container{
  cursor: pointer;
  width:clamp(0.8rem, 2.5vw, 1.7rem);
}
.icon{
  width:100%;
  height:auto;
}
