header {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  gap:9%;
  background-color: white;
  width:100%;
  z-index:1000;
  transition: 0.2em;
  padding-top:0.2rem;
  border-bottom:1px solid rgba(0, 0, 0, 0.426);
}
.logo-container {
  width: clamp(4.650rem, 14.8vw, 10.5rem);
  height: 0 auto;
}
.logo {
  width: 100%;
  height: auto;
}
.cart-container {
  width: clamp(1.5rem, 4.250vw, 3.2rem);
  height: 0 auto;
  position: relative;
}
.cart-icon{
  background-color:white;
}
.cart-button{
  border: none;
  cursor: pointer;
}
.cart-quantity{
  font-size: clamp(12px, 1.9vw, 1.2rem);
  position: absolute;
  color:rgb(2, 151, 2);
  right: 0;
  transform: translateY(-40%); 
  top: 0%;
}
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateX(100%);
}
.nav-container {
  flex: 1;
  display: flex;
  justify-content:spa;
  padding:0 2%;
}
@media(min-width:700px){
  .nav-container{
    justify-content: space-evenly;
    padding:0;
  }
}
.navigation {
  text-decoration: none;
  font-size: clamp(8px, 1.7vw, 1.2rem);
  color: rgb(0, 8, 20);
  font-weight: 500;
  transition: 0.2s;
}
  .navigation:hover {
    color: var(--main-color);
  }
  .navigation:active{
    color:black;
  }
